@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    scroll-behavior: smooth;
    font-family: sans-serif,'Poppins';
}
html
{
    scroll-behavior: smooth;
}
html::-webkit-scrollbar
{
  width: 0px;
  scroll-behavior: smooth;
}
.container
{
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
marquee
{
  position: absolute;
  top: 50px;
  background-color: red;
  color: #fff;
  font-style: italic;
}
.reduce
{
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.89);
  cursor: default;
}
.bg1
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(1.5);
  animation: in 1s linear forwards;
}

@keyframes in
{
  0%
  {
    opacity: 0;
  }
  100%
  {
    opacity: 100%;
  }
}
.nav-bar
{
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: rgb(36, 172, 20);
    z-index: 2;
}
.logo
{
    position: absolute;
    top: -60px;
    left: -50px;
    width: 180px;
    height: 170px;
    background: url(logo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: scale(0.2);
    filter: invert();
}
.menu
{
  position: absolute;
  color: #fff;
  font-size: 25px;
  transition: 0.5s;
  top: 5px;
  right: 10px;
  display: none;
  cursor: pointer;
}
.btns
{
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 50px;
    transition: 0.5s;
}
.btn
{
  height: 50px;
  width: 60%;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn:hover
{
    background-color: rgba(255,255,255,0.8);
    color: #000;
}
.reuse
{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    transition: 0.5s;
}
.recycle
{
    position: relative;  
    width: 100%;
    height: 100vh;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: -150px;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


h1
{
  position: absolute;
  top: 55px;
  left: 600px;
  z-index: 1;
  color: #fff;
  font-family: 'Bangers', cursive;
  text-transform: uppercase;
  font-size: 110px;
  letter-spacing: 5px;
}
span
{
  color: rgb(0,255,0);
  font-size: 150px;
  animation: entry 1s linear forwards;
}

@keyframes entry
{
  0%
  {
    transform: translateY(-100px);
  }

  100%
  {
    transform: translateY(0px);
  }
}
.quotes
{
  position: absolute;
  top: 415px;
  left: 640px;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  transform-origin: left;
  transform: rotateY(30deg) rotateZ(342deg) skewX(338deg);
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Bangers', cursive';

  /*background-color: red;*/
}

.black
{
  color: #000;
}